@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1c223a;
  max-width: 100vw;
  overflow-x: hidden;
  color: #c7d8eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
      padding: 20px 50px;
      box-shadow: 0 0 10px rgb(0 0 0 / 7%);
      background: #171d37;
      color: #c7d8eb;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

button {
  display: inline-block;
  background: #c7d8eb;
  border-radius: 33px;
  border: none;
  color: #1c223a;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
}
.heading {
  font-size: 60px;
    margin: 0;
}
.subheading {
  margin: 0;
    font-weight: 300;
}
.header {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-wrapper input{
  width: 60%;
  padding: 15px;
  padding-left: 30px;
  border: none;
  font-size: 18px;
  outline: none;
  border-radius: 30px;
  color: #2e2e2e;
  font-weight: 400;
}
.sec-btn {
  margin-left: 20px;
  color: #c7d8eb;
  background: none;
  border: 2px solid #c7d8eb;
  border-radius: 30px;
  padding: 14px 29px;
}
.cartContainer {
  margin: 40px;
}
.cartContainer .wrapper {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: center;
  flex-direction: column;
}
.itemLists {
  width: 40%;
  padding: 20px;
  background: rgba(0,0,0,0.5);
}
.itemLists .item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.item .right {
  display: flex;
  align-items: center;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid;
  padding-top: 10px;
}
.total h1, h3 {
  margin: 0%;
}
.popup-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.3);
  top: -10px;
}
.popup-wrapper {
  width: 380px;
  height: 280px;
  padding: 20px;
  background: #1c223a;
  border-radius: 3px;
}
.cross {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 10px;
  border-radius: 50%;
  padding-bottom: 4px;
}
.total-discount h1, h2, h3 {
  margin: 0;
}
.loginButton {
  padding: 15px 50px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.recom {
  width: 400px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #c7d8eb;
  border-radius: 4px;
  background: rgba(0,0,0,0.5);
  margin: 20px;
}
.r-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.r-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

/* pay animation */

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #FFF;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #FFF;
}

#successAnimationResult {
  fill: #FFF;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
             0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
             0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}